body {
  margin: 10px auto;
  text-align: center;
  font: 10pt sans-serif;
  background-color: #161414;
  color: #999;
}

#board canvas {
  border: 1px solid #000;
  background-color: #111;

  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
  border-radius: 10px;
}
